<section>
    <h2>
        Proyectos
    </h2>
    <article>
        <div>
            <h3>
                Portfolio Web.
            </h3>
        </div>
        <div>
            <p>
                Este proyecto fue desarrollado en el marco de la capacitación Desarrollador Web Full Stack, en el cursor dictado por el INTI y el Ministerio 
                de Desarrollo Productivo.
            </p>
            <p>
                El portfolio web es una aplicación web full stack, que muestra: datos personales, estudios cursados, experiencia laboral, conocimiento de las 
                tecnologías, entre otras cosas. Esta aplicación está desarrollada mediante arquitectura distribuida, contiene un 
                diseño de interface (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta con las 
                APIs necesarias para proveer a través de internet la información (back end). La realización de este proyecto sirvió para aplicar lo aprendido y ser 
                evaluado, además de poder publicarlo y usarlo como carta de presentación en el mercado laboral.
            </p>
        </div>
        <div class="container-fluid">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/img portf 2.jpg" class="d-block w-100 img-fluid" alt="img-port-web">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img portf.jpg" class="d-block w-100 img-fluid" alt="img-port-caract">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img portf 3.jpg" class="d-block w-100 img-fluid" alt="img-port-cod">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </article>
</section>