
.container-fluid{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    .carousel{
        justify-content: center;
        width: 60%;
        height: 40%;
        padding: 3%;
    }
    .titulo{
        font-size: 24px;
    }
    .cont{
        display: flex;
        justify-content: center;
    }
    .imagen{
        max-width: 50%;
        max-height: 50%;
    }
    .botonMas{
        width: 350px;
        margin: 5%;
    }
    .titulo-proy {
        margin-bottom: 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .agregarProy{
        color: rgb(0, 0, 0);
        margin-right: 5%;
        width: 30px;
        height : 30px;
    }
    .agregarProy:hover{
        color : rgb(61, 193, 246);
    }
    .botonModal{
        background: transparent;
        border: none;
    }

    .botonesElementos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .botonesElementos a {
        display: contents;
        color: rgb(0, 0, 0);
    
    
    }
    
    .trash {
        color: rgb(0, 0, 0);
    }
    
    .trash:hover {
        color: rgb(251, 68, 68);
    }
    
    .editar {
        color: rgb(0, 0, 0);
    }
    
    .editar:hover {
        color: rgb(247, 181, 48);
    }
    
    .botonesElementos svg {
        margin: 5px;
    }
    .item-stack{
        list-style: none;
        margin: 2%;
    }
    .logoMin{
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        height: 50%;
        width: 50%;
    }
    .margenes{
        margin: 5%;
    }
    