<section class="experiencia">
    <h2>
        <span class="titulo"><strong>Experiencia laboral</strong></span>
        <button mat-button class="botonModal" (click)="openDialog(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-plus agregarExp"
                viewBox="0 0 16 16">
                <path
                    d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
            </svg>
        </button>
    </h2>
    <div class="section-experiencia" *ngIf="mostrar else mostrarDos">
        <article class="article-experiencia" *ngFor="let experiencia of listaExperiencia">
            <div class="article-experiencia-item">
                <img src="../../../assets/{{experiencia.nombreEmpresa}}.png" width="200" height="120" alt="logo"
                    class="logo img-fluid">
            </div>
            <div class="article-experiencia-item">
                <h3>{{experiencia.cargo}}</h3>
                <h5>{{experiencia.nombreEmpresa}}</h5>
                <button class="btn btn-outline-primary botonMas" (click)="obtenerUna(experiencia)">Leer mas...</button>
            </div>
            <div class="article-experiencia-item ">
                <div class="botonesElementos">
                    <a (click)="openDialog(experiencia.id)" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-pencil-square editar" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                    <a (click)="eliminarExp(experiencia)" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-trash trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>

    <ng-template #mostrarDos>
        <article>
            <div class="mt-3">
                <h2>Empresa: {{unaExp.nombreEmpresa}}</h2>
                <br>
                <h3>Puesto: {{unaExp.cargo}}</h3>
                <p>{{unaExp.descripTareas}}</p>
                <br>
                <h4>Datos de la empresa:</h4>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">direccion</th>
                            <th scope="col">telefono</th>
                            <th scope="col">link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{unaExp.nombreEmpresa}}</th>
                            <td>{{unaExp.direccion}}</td>
                            <td>{{unaExp.telefono}}</td>
                            <td>{{unaExp.paginaWeb}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-primary" (click)="mostrar=!mostrar">Leer menos...</button>
            </div>
        </article>
        <br>
        <br>
    </ng-template>
</section>