<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Contacto | Redes sociales:</span>
        </div>

        <div>
            <a class="me-4 text-reset" [routerLink]="['/contacto--']">
                <i class="fas fa-mail-bulk"></i>
            </a>
            <a href="https://www.facebook.com/hernan.vallejos.712/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/hernanmatiasvallejos/?hl=es-la" target="_blank" class="me-4 text-reset">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/hernan-vallejos-756707180/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/vallejoshm" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>HVDev
                    </h6>
                    <div>
                        <img class="img-logo img-fluid" src="../../../assets/logo_small.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        PROGRAMA
                    </h6>
                    <p>
                        <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank" class="text-reset">#YOPROGRAMO</a>
                    </p>
                    <p>
                        <a href="https://www.argentina.gob.ar/inti" target="_blank" class="text-reset">INTI</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/cessiargentina/" target="_blank" class="text-reset">CESSI</a>
                    </p>
                    <p>
                        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank" class="text-reset">ARGENTINA PROGRAMA</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Datos
                    </h6>
                    <p><i class="fas fa-home me-3"></i> San Miguel, BSAS, Argentina</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Portfolio Web
        <a class="text-reset fw-bold" href="https://">HVDeveloper</a>
    </div>
</footer>