
<section class="experiencia">
    <h2>
        Experiencia laboral
    </h2>
    <div *ngIf="ver else ocultar">
        <button class="btn btn-outline-primary" (click)="verExpNoIt()">Ocultar</button>
        <div class="section-experiencia" *ngIf="mostrar else mostrarDos">
            <article class="article-experiencia" *ngFor="let experiencia of descripExp, index as i">
                <div class="article-experiencia-item">
                    <img src="../../../assets/{{experiencia.logo}}" width="150" height="100" alt="logo ungs" class="logoUngs">
                </div>
                <div class="article-educacion-item">        
                    <h5>{{experiencia.titulo}}</h5>
                    <h5>{{experiencia.datos.nombre}}</h5>
                    <button class="btn btn-primary" (click)="obtenerUna(i)">Leer mas...</button>
                </div>
            </article>
        </div>
    </div>
    <ng-template #ocultar>
    <button class="btn btn-outline-primary" (click)="verExpNoIt()">Mostrar</button>
    </ng-template>
    
    <ng-template #mostrarDos>
        <article>
            <div class="mt-5">
                <h3>Nombre de la Empresa: {{unaExp.datos.nombre}}</h3>
                <br>
                <h4>Puesto: {{unaExp.titulo}}</h4>
                <p>{{unaExp.descripcion.subtitulo}}<br>{{unaExp.descripcion.descrip}}</p>
                <h5>Datos de la empresa:</h5>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">nombre</th>
                        <th scope="col">direccion</th>
                        <th scope="col">telefono</th>
                        <th scope="col">link</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">{{unaExp.datos.nombre}}</th>
                        <td>{{unaExp.datos.direccion}}</td>
                        <td>{{unaExp.datos.telefono}}</td>
                        <td>{{unaExp.datos.web}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div>
                <button class="btn btn-primary" (click)="mostrar=!mostrar">Leer menos...</button>
            </div>
        </article>
        <br>
        <br>
    </ng-template>
</section>