<div class="container">
    <form [formGroup]="form" class="m-5">
        <legend class="mb-3">
            INICIAR SESION
        </legend>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" [ngClass]="{'is-invalid':Email?.errors && Email?.touched,
                'is-valid': !Email?.errors && Email?.touched}"
            formControlName="email" class="form-control" name="email" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                    El email es requerido.
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                    El formato ingresado no es válido.
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [ngClass]="{'is-invalid': Password?.errors && Password?.touched,
            'is-valid': !Password?.errors && Password?.touched}"
            formControlName="password" class="form-control" name="password" id="passwordForm">
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                    La contraseña es requerida.
                </p>
                <p *ngIf="Password?.hasError('minLength')" class="text-danger">
                    La contraseña debe ser de 8 o más carácteres.
                </p>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>