<div mat-dialog-title>
    {{titulo}}
</div>
<div mat-dialog-content>
    <form (ngSubmit)="crearNuevaEdu()" novalidate #f="ngForm">
        <div class="form-group mb-3">
            <label for="nombreCarrera">Nombre de la carrera</label>
            <input type="text" class="form-control" autocomplete={{nombreCarrera}} id="nombreCarrera"
                name="nombreCarrera" [(ngModel)]="nombreCarrera" required>
        </div>
        <div class="form-group mb-3">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion"
                required>
        </div>
        <div class="form-group mb-3">
            <mat-form-field appearance="fill">
                <mat-label for="status" class="form-label etiqStatus">Status</mat-label>
                <mat-select (selectionChange)="opcionElegida($event)">
                    <mat-option [value]="finalizada">Finalizada</mat-option>
                    <mat-option [value]="enCurso">En curso</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group mb-3">
            <div class="mb-3">
                <label for="start" class="me-1">Fecha de incio:</label>
                <input type="date" class="form-control" id="start" name="trip-start" [(ngModel)]="fechaInicio">
            </div>
            <div class="mb-3" *ngIf="avanceSi else noAvance">
                <label for="end" class="me-3">fecha de finalización: </label>
                <input type="date" class="form-control" id="end" name="trip-end" [(ngModel)]="fechaFin" disabled>
            </div>
            <ng-template #noAvance class="mb-3">
                <label for="end" class="me-3">fecha de finalización: </label>
                <input type="date" class="form-control" id="end" name="trip-end" [(ngModel)]="fechaFin">
            </ng-template>
        </div>
        <div class="form-group mb-3">
            <div *ngIf="avanceSi else avanceNo">
                <label for="avance">Porcentaje de avance de la carrera</label>
                <input type="number" class="form-control" id="avance" name="avance" [(ngModel)]="avanceCarr" required>
            </div>
            <ng-template #avanceNo class="form-group">
                <label for="avance">Porcentaje de avance de la carrera</label>
                <input class="form-control" type="number" placeholder="100" aria-label="Disabled input example"
                    disabled>
            </ng-template>
        </div>
        <div class="form-group mb-3">
            <label for="nombreInstitucion">Nombre de la institución</label>
            <input type="text" class="form-control" id="nombreInstitucion" name="nombreInstitucion"
                [(ngModel)]="nombreInstitucion" required>
        </div>
        <div class="form-group mb-3">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" required>
        </div>
        <div class="form-group mb-3">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
        </div>
        <div class="form-group mb-3">
            <label for="paginaWeb">Web site</label>
            <input type="text" class="form-control" id="paginaWeb" name="paginaWeb" [(ngModel)]="paginaWeb" required>
        </div>
        <div class="botones">
            <button type="submit" class="btn  btn-info btn-block" (click)="onClickSi()" mat-button
                [mat-dialog-close]="true" [disabled]="!f.valid">{{nombreBoton}}</button>
            <button class="btn btn-info btn-block" mat-button (click)="onClickNo()">Cancelar</button>
        </div>
    </form>
</div>