<!-- <div class="padre container">
    <div class="menu">
        <div class="logo">
            <a href="index.html">
                LOGO PORTFOLIO
            </a>
            <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank">
                #YOPROGRAMO
            </a>

        </div>

        <div class="social">
            <div> -->
                <!-- <a [routerLink]="['/contacto']"> -->
                <!-- <a>
                    <i class="fas fa-mail-bulk"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
            <div>
                <a href="http://">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div> -->

<div class="padre container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                LOGO PORTFOLIO
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item social">
                        <a class="nav-link active " aria-current="page"
                            href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank">
                            #YOPROGRAMO
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
                </ul>
                <form class="d-flex">
                    <div class="social">
                        <div>
                            <!-- <a [routerLink]="['/contacto']"> -->
                            <a>
                                <i class="fas fa-mail-bulk"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div>
                            <a href="http://">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                    </div>
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button> -->
                </form>
            </div>
        </div>
    </nav>
</div>

