<section class="acercaDe">
    <article class="acercaDe-articulo-fotoPerfil">
        <figure class="figura">
            <div class="div-imagen">
                <img class="foto-perfil rounded-circle img-fluid" src="../../../assets/foto.png" alt="foto perfil">
                <div class="botonesElementos btn-img">
                    <a style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-pencil-square editar" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                </div>
            </div>
            <figcaption>
                <h2>Hernán Matías Vallejos</h2>
                <p>Full Stack Developer Jr</p>
            </figcaption>
        </figure>
    </article>
    <article class="acercaDe-articulo-iconos">
        <div class="bloque-iconos">
            <div>
                <img src="https://www.argentina.gob.ar/sites/default/files/min_ciencia_tecnologia_innovacion.png"
                    class="logoMin img-fluid" alt="" srcset="">
            </div>
            <div>
                <img src="../../../assets/Ministerio de Desarrollo Productivo.png" class="logoInti img-fluid" alt=""
                    srcset="">
            </div>
            <div>
                <img src="../../../assets/2066-cessi_logo350x250.jpg" class="logoCessi img-fluid" alt="" srcset="">
            </div>
        </div>
        <div>
            <p class="text">
                <br>
                Desarrollador Web Full Stack Junior,
                con certificación conjunta del
                Ministerio de Desarrollo Productivo, la Cámara de la Industria
                Argentina de Software(CESSI) y el
                Instituto Nacional de Tecnología Industrial, en el marco de la
                capacitación Argentina Programa,
                <a class="linkYP" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
                    target="_blank">
                    #YoProgramo</a>.
            </p>
        </div>
    </article>
</section>